* {
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 30, 129);
    height: 100vh;
    position: relative;
}

.container {
    background-color: white;
    width: 55%;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.form-create {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input {
    border: 1px solid lightgray;
    outline: none; /*選択時のアウトラインが消える*/
    appearance: none; /*よくわからん*/
}

.input-create {
    width: 80%;
    height: 35px;
}

.btn {
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    /* height: 37px; サイズ指定をheight,widthでするのでなく、paddingをうまく利用する*/
    /* width: 60px; */
    transition: 0.3s;
    padding: 8px 16px; /*追記*/
    cursor: pointer; /*追記*/
}

.create_btn {
    color: rgb(208, 113, 202);
    border: 2px solid rgb(208, 113, 202);
    margin-right: 0;
}

.create_btn:hover {
    color: white;
    background-color: rgb(208, 113, 202);
}

table {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 45px;
}

.created_at {
    /* width: 40%; */
}

.tasks {
    /* width: 35%; */
}

.input-update {
    width: 100%;
    height: 30px;
}

.update_btn {
    color: rgb(255, 153, 85);
    border: 2px solid rgb(255, 153, 85);
}

.update_btn:hover {
    color: white;
    background-color: rgb(255, 153, 85);
}

.delete_btn {
    color: rgb(72, 209, 204);
    border: 2px solid rgb(72, 209, 204);
}

.delete_btn:hover {
    color: white;
    background-color: rgb(72, 209, 204);
}
